:root {
  --color-light: #f4f4f4;
  --color-dark: #171816;
  --color-block-light: #fffffff4;
  --accent: #da9e12;
  --font-family: 'DM Sans', sans-serif;
  --radius-md: 12px;
  --radius-lg: 20px;
  --shadow-lg: 0 12px 28px rgba(0, 0, 0, 0.28);
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
}

